body {
  margin: unset;
}

header {
  margin: auto;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px gray solid;
  border-top: none;
  padding: 0 2rem;
}

.sida {
  max-width: 1170px;
  margin: auto;
  margin-top: 2rem;
}

.title {
  text-decoration: none;
  color: black;
}

.username {
    font-weight: normal;
}

.formulär {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.error {
  color: red;
}
